<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultTheme</key>
	<dict>
		<key>C0</key>
		<string>#FFFFFF</string>
		<key>C1</key>
		<string>#EFEEF4</string>
		<key>C2</key>
		<string>#EFEEF4</string>
		<key>C3</key>
		<string>#9798B3</string>
		<key>C4</key>
		<string>#8B8B8B</string>
		<key>C5</key>
		<string>#191C5F</string>
		<key>C6</key>
		<string>#FF6C03</string>
		<key>C7</key>
		<string>#FFA90C</string>
		<key>C8</key>
		<string>#3DC18E</string>
		<key>C9</key>
		<string>#FFFDEE</string>
		<key>C10</key>
		<string>#171C61</string>
		<key>C11</key>
		<string>#3588D9</string>
		<key>C12</key>
		<string>#333333</string>
		<key>C13</key>
		<string>#AAD48B</string>
		<key>C14</key>
		<string>#292624</string>
		<key>C15</key>
		<string>#121214</string>
		<key>C16</key>
		<string>#C0C0C0</string>
		<key>C17</key>
		<string>#DE211D</string>
		<key>C18</key>
		<string>#9798B3</string>
		<key>C19</key>
		<string>#C7C8E0</string>
		<key>C21</key>
		<string>#13C38B</string>
	</dict>
</dict>
</plist>
