<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultTheme</key>
	<dict>
		<key>C0</key>
		<string>#FFFFFF</string>
		<key>C1</key>
		<string>#F5F7F7</string>
		<key>C2</key>
		<string>#E5E5E5</string>
		<key>C3</key>
		<string>#CCCCCC</string>
		<key>C4</key>
		<string>#999999</string>
		<key>C5</key>
		<string>#687785</string>
		<key>C6</key>
		<string>#FF6C03</string>
		<key>C7</key>
		<string>#FFA90C</string>
		<key>C8</key>
		<string>#00BC8D</string>
		<key>C9</key>
		<string>#FFFDEE</string>
		<key>C10</key>
		<string>#3557BE</string>
		<key>C11</key>
		<string>#3588D9</string>
		<key>C12</key>
		<string>#93D9E1</string>
		<key>C13</key>
		<string>#AAD48B</string>
		<key>C14</key>
		<string>#FEE181</string>
		<key>C15</key>
		<string>#E4AC49</string>
		<key>C16</key>
		<string>#D6651E</string>
		<key>C17</key>
		<string>#B32A29</string>
		<key>C18</key>
		<string>#444444</string>
		<key>C19</key>
		<string>#888888</string>
		<key>C21</key>
		<string>#FF8F79</string>
		<key>C22</key>
		<string>#48D4FF</string>
		<key>C23</key>
		<string>#13DDA9</string>
	</dict>
</dict>
</plist>
